<table border = 1>
	<tr>
		<td><% %></td>
		<td>Poniedziałek <br /> <%= @tydzien %></td>
		<td>Wtorek <br /> <%= @tydzien +1.day%></td>
		<td>Środa <br /> <%= @tydzien +2.day%></td>
		<td>Czwartek <br /> <%= @tydzien +3.day%></td>
		<td>Piątek <br /> <%= @tydzien +4.day%></td>
		<td>Sobota <br /> <%= @tydzien +5.day%></td>
		<td>Niedziela <br /> <%= @tydzien +6.day%></td>
	</tr>
	<% for i in 0...@godziny.size %>
	<tr>
		<td><%=h @godziny[i].begin.strftime("%H") << ":" << @godziny[i].begin.strftime("%M") %>-<%=h @godziny[i].end.strftime("%H") << ":" << @godziny[i].end.strftime("%M") %></td>
			<% for j in 0...7 %>
				<td id="obecnosc<%= (!@obecnosci[i][j].nil?) ? @obecnosci[i][j].wartosc : '' %>">
					<% for k in 0...@plan[i][j].size %>
					
						<%= link_to @plan[i][j][k].przedmiot.nazwa, uczen_przed2_path( {:id => @plan[i][j][k].lista_id}) %>
					<% end %>
				</td>
			<% end %>
	</tr>
	<% end %>
</table>
<%= link_to 'poprzedni tydzien', uczen_plan_path( {:date => (@tydzien-1.day).to_s, :layout => :true} )%> | <%= link_to 'kolejny tydzien', uczen_plan_path( {:date => (@tydzien+7.day).to_s, :layout => :true}) %>