<div style="float:left;height:500px;">
<%= title "Login", :h2 %>
<% form_tag session_path do %>
		<legend>Your Details</legend>
	<table>
			<tr>
				<td><%= label_tag 'login', 'Username' %></td>
				<td><%= text_field_tag 'login', @login %></td>
			</tr>
			<tr>
				<td><%= label_tag 'password' %></td>
				<td><%= password_field_tag 'password', nil %></td>
			</tr>
			<tr>
				<td><%= label_tag 'remember_me', 'Remember me' %></td>
				<td><%= check_box_tag 'remember_me', '1', @remember_me %></td>
			</tr>
		</ol>
	</table>
	<div class="buttons">
		<%= submit_tag 'Login' %>
	</div>
<% end -%>
</div>
<div>
	&nbsp;&nbsp;&nbsp;Witaj w systemie kontroli osiągnięć uczniów:<br />
	&nbsp;&nbsp;&nbsp;aby przyjrzeć się bliżej funkcjom programu zaloguj sie na któreś z podanych kont:<br />
	<br />
	&nbsp;&nbsp;&nbsp;login: admin<br />
	&nbsp;&nbsp;&nbsp;haslo: admin<br />
	<br />
	&nbsp;&nbsp;&nbsp;login: nauczyciel<br />
	&nbsp;&nbsp;&nbsp;haslo: nauczyciel<br />
	<br />
	&nbsp;&nbsp;&nbsp;login: uczen<br />
	&nbsp;&nbsp;&nbsp;haslo: uczen<br />
	<br />
	&nbsp;&nbsp;&nbsp;login: rodzic<br />
	&nbsp;&nbsp;&nbsp;haslo: rodzic<br />
	<br />
</div>	