
<% form_for @user do |f| %>

	<%= f.error_messages %>
	<fieldset>
		<legend>Your Details</legend>
		<ol>
			<li>
				<%= f.label :login %>
				<%= f.label @user.login %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation, 'Confirm Password' %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ol>
	</fieldset>
	<%= submit_tag 'Sign up', :controller => :sessions, :action => :update %>
<% end %>	
