<h1>Listing plany</h1>

<table>
  <tr>
  	<th>Aktywny</th>
    <th>Nazwa</th>
	<th>Obowiązuje Od</th>
	<th>Do</th>
    <th>Semestr</th>

  </tr>

<% for plan in @plany %>
  <tr>
  	<td><%= (plan.active) ? "(Aktywny)" : "(Niektywny)" %></td>
    <td><%=h plan.nazwa         %></td>
	<td><%=  plan.start_date    %></td>
	<td><%=  plan.end_date      %></td>
    <td><%=h plan.semestr.nazwa %></td>

	<td><%= link_to "Modyfikuj plany zajęć", "/plany/"+plan.id.to_s+"/plan/" + Grupa.klasa.first.id.to_s %></td>
    <td><%= link_to 'Edytuj Dane', edit_plan_path(plan) %></td>
  	<td><%= (plan.active) ? "Deaktywuj" : "Aktywuj" %></td>
    <td><%= link_to 'Usun', plan, :confirm => 'Czy jesteś pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plan', new_plan_path %>
