<h1>Listing plany</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Semestr</th>
    <th>Active</th>
  </tr>

<% for plan in @plany %>
  <tr>
    <td><%=h plan.nazwa %></td>
    <td><%=h plan.semestr.nazwa %></td>
    <td><%=h plan.active %></td>
    <td><%= link_to 'Show', plan %></td>
	<td><%= link_to 'Plan', "plany/"+plan.id.to_s+"/plan" %>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plan', new_plan_path %>
