<h1>Editing plan</h1>

<% form_for @plan, :url =>  plan_update_path ({:id => @plan.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>
  <p>
    <%= f.label :semestr %><br />
	<%= f.select "semestr_id", Semestr.existing.find(:all, :order => :begin).collect{|c| [c.nazwa, c.id]} %> </td>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plany_path %>
