<table border = 1>
	<tr>
		<td></td>
		<td>Poniedziałek</td>
		<td>Wtorek</td>
		<td>Środa</td>
		<td>Czwartek</td>
		<td>Piątek</td>
		<td>Sobota</td>
		<td>Niedziela</td>
	</tr>
	<% for godzina in @godziny %>
	<tr>
		<td><%=h godzina.begin.strftime("%H") << ":" << godzina.begin.strftime("%M") %>-<%=h godzina.end.strftime("%H") << ":" << godzina.end.strftime("%M") %></td>
		<td><%= link_to 'Plan', "/plany/"+@plan.id.to_s+"/plan/1/1/1" %></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<% end %>
</table>

	<%= link_to 'Plan', "/plany/"+@plan.id.to_s+"/plan" %> | 
<% for klasa in Grupa.existing.klasa %>
	<%= link_to klasa.nazwa, "/plany/"+@plan.id.to_s+"/plan/"+klasa.id.to_s %> | 
<% end %>