<%= link_to 'Plan', "/plany/"+@plan.id.to_s+"/plan" %> | 
<% for klasa in Grupa.existing.klasa %>
	<%= link_to klasa.nazwa, "/plany/"+@plan.id.to_s+"/plan/"+klasa.id.to_s %> | 
<% end %>

<table border = 1>
	<tr><td></td>
		<% for nauczyciel in Nauczyciel.existing %>
			<td><%=h nauczyciel.imie<<" "<<nauczyciel.nazwisko%></td>
		<% end %>
	</tr>
	<% dni_tygodnia = [:Poniedziałek, :Wtorek, :Środa, :Czwartek, :Piątek, :Sobota, :Niedziela] %>
	<% for dzien in dni_tygodnia %>
		<% for godzina in @godziny %>
		<tr>
			<td><%=h dzien.to_s+" "+godzina.begin.strftime("%H") << ":" << godzina.begin.strftime("%M") %>-<%=h godzina.end.strftime("%H") << ":" << godzina.end.strftime("%M") %></td>
			<% for nauczyciel in Nauczyciel.existing %>
				<td>...</td>
			<% end %>
		</tr>
		<% end %>
	<% end %>
</table>