<table border = 1>
	<tr>
		<td><%=h @grupa.nazwa %></td>
		<td>Poniedziałek</td>
		<td>Wtorek</td>
		<td>Środa</td>
		<td>Czwartek</td>
		<td>Piątek</td>
		<td>Sobota</td>
		<td>Niedziela</td>
	</tr><% godz = 1 %>
	<% for godzina in @godziny %>
	<tr>
		<td><%=h godzina.begin.strftime("%H") << ":" << godzina.begin.strftime("%M") %>-<%=h godzina.end.strftime("%H") << ":" << godzina.end.strftime("%M") %></td>
		<td><div id="<%= godz %>-1" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 1, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 1, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-2" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 2, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 2, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-3" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 3, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 3, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-4" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 4, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 4, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-5" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 5, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 5, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-6" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 6, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 6, godz, @grupa.id %></div></td>
		<td><div id="<%= godz %>-7" <%= onclick_to_remote :url => {:action => :wybierz_kom, :id => @plan.id, :klasa => @grupa.id, :dzien => 7, :godzina => godz } %>><%=h nazwa_przedmiotu @plan.id, 7, godz, @grupa.id %></div></td>
	</tr>
	<% godz += 1%>
	<% end %>
</table>

<%= hidden_field :plan_id, :value => @plan.id %>
<%= link_to_remote 'aaaa', :url => {:action => :create_lekcja}%>

	<%= link_to 'Plan', "/plany/"+@plan.id.to_s+"/plan" %> | 
<% for klasa in Grupa.existing.klasa %>
	<%= link_to klasa.nazwa, "/plany/"+@plan.id.to_s+"/plan/"+klasa.id.to_s %> | 
<% end %>

<div id="lekcje">
	<%= render :partial => 'zarzadzaj_lekcjami' %>
</div>