<%= link_to 'dziennik dla klasy', dziennik_url(:parametry => create_queries({:przedmiot => 2, :klasa => 1, :semestr => 1}) ) %><br />


<table border = 1>
	<tr>
		<td><%=h @nauczyciel.nazwisko %></td>
		<td>Poniedziałek <br /> <%= @poniedzialek %></td>
		<td>Wtorek <br /> <%= @poniedzialek +1.day%></td>
		<td>Środa <br /> <%= @poniedzialek +2.day%></td>
		<td>Czwartek <br /> <%= @poniedzialek +3.day%></td>
		<td>Piątek <br /> <%= @poniedzialek +4.day%></td>
		<td>Sobota <br /> <%= @poniedzialek +5.day%></td>
		<td>Niedziela <br /> <%= @poniedzialek +6.day%></td>
	</tr><% godz = 1 %>
	<% for i in 0..@lekcje.size-1 %>
	<tr>
		<td><%= @nazwy_wierszy[i] %>
		<% for j in 1..@lekcje[i].size-1 %>
		<td>
			<% for k in 0..@lekcje[i][j].size-1 %>
				<%= link_to @lekcje[i][j][k].lista.grupa.nazwa + " (" + @lekcje[i][j][k].przedmiot.nazwa[0..7] + ")", 
                    dziennik_url(:parametry => create_queries({:lekcja => @lekcje[i][j][k].id, :klasa => @lekcje[i][j][k].lista.grupa_id, :semestr => 1}) ) %>
			<% end %>
		</td>


		<% end %>
	</tr>
	<% godz += 1%>
	<% end %>
</table>
