Przedmiot : <%= @przedmiot.nazwa.to_s %><br />
Poniedzialek : <%= @poniedzialek.to_s %>

<%= link_to 'sprawdz_obecnosc', obecnosc_url(:parametry => create_queries({:lekcja => 77, :data => Date.today.to_s, :grupa=> @klasa.id} ))%>

<table border =1>
<tr>
	<td></td>
	<td>Uczniowie</td>
	<td>Ob.</td>
	<td>Nob.</td>
	<td>Sp.</td>
</tr>
<% uczen_i = 1 %>
<% for uczen in Uczniowie( @uczniowie) %>
<tr>
<td><%= uczen_i %></td>	
<td><%= uczen.nazwisko.to_s+" "+uczen.imie.to_s %></td>
<td><%= uczen.obecnosci.find(:all, :conditions => ["wartosc = 2 AND lista_id = ?", @lista]).size %></td>
<td><%= uczen.obecnosci.find(:all, :conditions => ["wartosc = 3 AND lista_id = ?", @lista]).size %></td>
<td><%= uczen.obecnosci.find(:all, :conditions => ["(wartosc = 1 OR wartosc = 4) AND lista_id = ?", @lista]).size %></td>


</tr>
<% uczen_i += 1%>
<% end %>
</table>