<h1>Listing grupy</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Klasa</th>
    <th>Pierwszy semest</th>
    <th>Aktualny semestr</th>
    <th>Ostatni semest</th>
  </tr>

<% for grupa in @grupy %>
  <tr>
    <td><%=h grupa.nazwa %></td>
    <td><%=h grupa.klasa %></td>
    <td><%=h grupa.pierwszy_semestr %></td>
    <td><%=h grupa.aktualny_semestr %></td>
    <td><%=h grupa.ostatni_semestr %></td>
    <td><%= link_to 'Show', grupa %></td>
	<td><%= link_to 'Przedmioty', "/grupy/"+grupa.id.to_s+"/przedmioty/" %></td>
    <td><%= link_to 'Edit', edit_grupa_path(grupa) %></td>
    <td><%= link_to 'Destroy', grupa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New klasa', new_grupa_path %>
