 <table>
	<tr>
		<td><%= radio_button :grupa, :nauczyciel_id, 0 %>
		<td><%=h "brak wychowawcy" %></td>
		<td></td>
	</tr>
 	
	<% for nauczyciel in (Nauczyciel.nie_wychowawca+@grupa.nauczyciel.to_a).sort_by{|sss| sss.nazwisko.upcase} %>
		<tr>
			<td><%= radio_button :grupa, :nauczyciel_id, nauczyciel.id %>
	    	<td><%=h nauczyciel.imie %></td>
	    	<td><%=h nauczyciel.nazwisko %></td>
	  	</tr>
	<% end %>
</table>