<table>
	<% for uczen in Uczen.existing %>
		<% if uczen.klasa == [] || uczen.klasa.id == @grupa.id %>
			<% new = Czlonek.existing.find(:all, :conditions => ["grupa_id = ? AND uczen_id = ?", @grupa.id, uczen.id]).empty?%>
			<tr>
				<td><input id="<%= (new) ? 'new' : 'existing' %>_czlonek<%= uczen.id.to_s %>" value="on" name="<%= (new) ? 'new' : 'existing' %>_czlonek[<%= uczen.id.to_s %>]" type="checkbox" <%= (new) ? '' : 'checked' %>/></td>
		    	<td><%=h uczen.imie %></td>
		    	<td><%=h uczen.nazwisko %></td>
		    	<td><%=h uczen.nr_legitymacji %></td>
		    	<td><%=h płeć uczen.chlopiec %></td>
		  	</tr>
		<% end %>
	<% end %>
</table>