<h1>Editing grupa</h1>

<% form_for(@grupa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>
  <p>
    <%= f.label :klasa %><br />
    <%= f.check_box :klasa %>
  </p>
  <p>
  	Sklad klasy: <br />
  <%= render :partial => 'zarzadzaj_czlonkami_grupy' %>
  </p>
  <p>
  	Wychowawca: <br /> 
  <%= render :partial => 'wychowawca' %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @grupa %> |
<%= link_to 'Back', grupy_path %>
