<h1>New grupa</h1>

<% form_for(@grupa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>

  <p>
  	Wychowawca: <br /> 
  <%= render :partial => 'wychowawca' %>
  </p>
    <%= f.submit "Create", :action => :klasa_create %>
<% end %>

<%= link_to 'Back', grupy_path %>