<h1>New grupa</h1>

<% form_for(@grupa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>
  <p>
    <%= f.label :klasa %><br />
    <%= f.check_box :klasa %>
  </p>
  <p>
    <%= f.label :pierwszy_semestr %><br />
    <%= f.text_field :pierwszy_semestr %>
  </p>
  <p>
    <%= f.label :aktualny_semestr %><br />
    <%= f.text_field :aktualny_semestr %>
  </p>
  <p>
    <%= f.label :ostatni_semestr %><br />
    <%= f.text_field :ostatni_semestr %>
  </p>
	
	<%= render :partial => 'zarzadzaj_czlonkami_grupy' %>


    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', grupy_path %>
