<p>
  <b>Nazwa:</b>
  <%=h @grupa.nazwa %>
</p>

<p>
  <b>Wychowawca:</b>
  <%=h (!@grupa.nauczyciel.nil?) ? (@grupa.nauczyciel.imie << " " << @grupa.nauczyciel.nazwisko) : "Brak wychowawcy" %>
</p>

<p>
  <b>Sklad Klasy:</b><br />
  <% for uczen in @grupa.uczniowie.existing %>
	  <%=h uczen.imie << " " << uczen.nazwisko %><br />
  <% end %>
</p>




<%= link_to 'Edit', edit_grupa_path(@grupa) %> |
<%= link_to 'Back', grupy_path %>
