<h1>Editing nauczyciel</h1>

<% form_for(@nauczyciel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </p>
  <p>
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </p>
  
  	<% for przedmiot in Przedmiot.all %>
		<% new = Pnjt.existing.find(:all, :conditions => ["nauczyciel_id = ? AND przedmiot_id = ?", @nauczyciel.id, przedmiot.id]).empty? %>
		<p>
			<input id="<%= (new) ? 'new' : 'existing' %>_nauczyciel<%= przedmiot.id.to_s %>" value="on" name="<%= (new) ? 'new' : 'existing' %>_nauczyciel[<%= przedmiot.id.to_s %>]" type="checkbox" <%= (new) ? '' : 'checked' %>/>
	    	<%=h przedmiot.nazwa %>
	  	</p>
	<% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @nauczyciel %> |
<%= link_to 'Back', nauczyciele_path %>
