<h1>New uczen</h1>

<% form_for(@uczen) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </p>
  <p>
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </p>
  <p>
    <%= f.label :pesel %><br />
    <%= f.text_field :pesel %>
  </p>
  <p>
    <%= f.label :nr_legitymacji %><br />
    <%= f.text_field :nr_legitymacji %>
  </p>
  <p>
  	<select id="uczen_chlopiec" name="uczen[chlopiec]">
  	<option value='true'>Chlopiec</option><option value='false'>Dziewczynka</option>
	</select>
  <p>
  	
<p>Rodzice :</p>
    <p>
    	<%= f.label "imie ojca" %><br />
		<%= text_field :rodzic, :imie_ojca %>
	</p>
	
	<p>
    	<%= f.label "imie matki" %><br />
		<%= text_field :rodzic, :imie_matki %>
	</p>
	
	<p>
    	<%= f.label "nazwisko" %><br />
		<%= text_field :rodzic, :nazwisko %>
	</p>
	<p>
    	<%= f.label "nazwisko panieńskie" %><br />
		<%= text_field :rodzic, :nazwisko_panienskie %>
	</p>
	<p>
    	<%= f.label "pesel" %><br />
		<%= text_field :rodzic, :pesel %>
	</p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', uczniowie_path %>
