<h1>Listing godziny</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Begin</th>
    <th>End</th>
  </tr>

<% for godzina in @godziny %>
  <tr>
    <td><%=h godzina.nazwa %></td>
    <td><%=h godzina.begin.strftime("%H") << ":" << godzina.begin.strftime("%M") %></td>
    <td><%=h godzina.end.strftime("%H") << ":" << godzina.end.strftime("%M")   %></td>
    <td><%= link_to 'Show', godzina %></td>
    <td><%= link_to 'Edit', edit_godzina_path(godzina) %></td>
    <td><%= link_to 'Destroy', godzina, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New godzina', new_godzina_path %>
