					<ul>
						<li><%= link_to "<span>godziny</span>",     godzi_intro_path, :title => "godziny"     %></li>
						<li><%= link_to "<span>grupy</span>",       grupy_intro_path, :title => "grupy"       %></li>
						<li><%= link_to "<span>nauczyciele</span>", naucz_intro_path, :title => "nauczyciele" %></li>
						<li><%= link_to "<span>przedmioty</span>",  przed_intro_path, :title => "przedmioty"  %></li>
						<li><%= link_to "<span>uczniowie</span>",   uczni_intro_path, :title => "uczniowie"   %></li>
						<li><%= link_to "<span>semestry</span>",    semes_intro_path, :title => "semestry"    %></li>
						<li><%= link_to "<span>plany</span>",       plany_intro_path, :title => "plany"       %></li>
					</ul>