<ul>
<li><%= link_to "<span>godziny</span>", "/godziny" %></li>
<li><%= link_to "<span>grupy</span>", "/grupy" %></li>
<li><%= link_to "<span>nauczyciele</span>", "/nauczyciele" %></li>
<li><%= link_to "<span>przedmioty</span>", "/przedmioty" %></li>
<li><%= link_to "<span>uczniowie</span>", "/uczniowie" %></li>
<li><%= link_to "<span>semestry</span>", "/semestry" %></li>
<li><%= link_to "<span>plany</span>", "/plany" %></li>
<li><%= link_to "<span>dzienniki</span>", "/dzienniki/plan/data=2007-01-01" %></li>
</ul>
