<div id="example" class="flora">
	<% if admin? %>
		<%= render :partial => 'layouts/menu_dla_admina' %>
	<% elsif rodzic? %>
		<%= render :partial => 'layouts/menu_dla_rodzica' %>
	<% elsif uczen? %>
		<%= render :partial => 'layouts/menu_dla_ucznia' %>
	<% elsif nauczyciel? %>	
	<ul>
		<li><%= link_to "<span>dzienniki</span>", nauczyciel_plan_path , :title => "glowny" %></li>
	</ul>	
	<% else %>
	<ul>
		<li><%= link_to "<span>login</span>", "/sessions/intro.html", :title => "glowny" %></li>
		</ul>
		&nbsp;&nbsp;
	<% end %>			
</div>