<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>E-DZIENNIK</title>

  <%= stylesheet_link_tag 'base', 'scaffold', "flora.tabs", "default", "tomka" %>
  <%= javascript_include_tag :defaults, 'data2.js',
		'http://jquery-ui.googlecode.com/svn/tags/latest/jquery-1.2.6.js',

		'http://jquery-ui.googlecode.com/svn/tags/latest/ui/ui.core.js',
		'http://jquery-ui.googlecode.com/svn/tags/latest/ui/ui.tabs.js' 
  %>

<script>
	jQuery.noConflict();
	
	jQuery(document).ready(function(){
    	jQuery("#example > ul").tabs({
			selected: null
		});
		jQuery('#glowny').show();
		jQuery('#message').fadeIn(800).fadeTo(5000, 1).fadeOut(2000);

		jQuery('#example').tabs({selected: null,
			load: function(e, ui) {
			}			
		});
  	});
</script>
</head>
<body>
<div id = "container">	
		
	<div id = "head">
		<div id = "baner"><img src = "/grafika/nazwa_szkoly7.png"></div>
		<%= render :partial => 'layouts/naglowek' %>
	</div>
	
	<div id ="message">
		<div class="info" >  <%= flash_messages %></div>
	</div>
	
    <div id "main">
    	<div id = "main_top"></div>
		
		<div id = "main_center">

			<%= render :partial => 'layouts/menu' %>
			<div id="glowny" style="display:compact;"><%= yield %></div>

		</div>
		
		<div id = "main_down"></div>
    </div>
	
	<div id = "footer">
		Copyright &copy; 2009 <p>T. Werno | P.Wojcieska | L. Dzięcioł | Z. Ołubowicz</p>
	</div>
	
</div>
</body>
</html>