<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>E-DZIENNIK</title>

  <%= stylesheet_link_tag 'base', 'scaffold', "flora.tabs", "default" %>
  <%= javascript_include_tag :defaults, 'data2.js',
		'http://jqueryjs.googlecode.com/files/jquery-1.2.6.pack.js', 
		'http://jquery-ui.googlecode.com/svn/tags/latest/ui/ui.core.js',
		'http://jquery-ui.googlecode.com/svn/tags/latest/ui/ui.tabs.js' 
  %>

<script>
	jQuery.noConflict();
	
	jQuery(document).ready(function(){
    	jQuery("#example > ul").tabs({
			selected: null
		});
		jQuery('#glowny').show();
		jQuery('#example').tabs({selected: null,
			load: function(e, ui) {
				jQuery('#glowny').hide();
			}			
		});
  	});
</script>
</head>
<body>
<div id = "container">	
		
	<div id = "head">
		<div id = "baner">
			<img src = "/grafika/nazwa_szkoly7.png">
		</div>
		
		<div id="dane_logowania">
			<% if logged_in? %>
				<%= link_to 'Logout', logout_path %>
				Moje konto
		 		<br><br><%= imie zalogowany %>&nbsp;&nbsp;
			<% end %>
		 	<br><h4><SCRIPT language="javascript">document.write("Dzisiaj jest " + getDateStr())</SCRIPT>&nbsp;&nbsp;</h4>
		</div>
	</div>
	
    <div id "main">
    	<div id = "main_top">
		</div>
		
		<div id = "main_center">

			<div id="example" class="flora">
				<% if admin? %>
					<%= render :partial => 'layouts/menu_dla_admina' %>
				<% elsif rodzic? %>
					<%= render :partial => 'layouts/menu_dla_rodzica' %>
				<% elsif uczen? %>
					<%= render :partial => 'layouts/menu_dla_ucznia' %>
				<% elsif nauczyciel? %>	
				<ul>
					<li><%= link_to "<span>dzienniki</span>", "/dzienniki/plan/data=2007-01-01", :title => "ui-8" %></li>
				</ul>	
				<% end %>			
			</div>
			
				
			<div id="glowny" style="display:compact;">
				<%= flash_messages %>
				<%= yield %>
			</div>


		</div>
		
		<div id = "main_down">
		</div>
    </div>
	
	<div id = "footer">
		Copyright &copy; 2009 <p>T. Werno | P.Wojcieska | L. Dzięcioł | Z. Ołubowicz</p>
	</div>
	
</div>
</body>
</html>